h1, h2, p {
    margin-top: 0px;
}
body {
    font-family: Ubuntu, sans-serif;
    font-size: 20px;
    background-color: #fff;
    background-size: cover;
}
h1 {
    text-align: center;
    color: #0A3566;
    margin: 50px auto;

}
.game{
    color: #0A3566;
    text-align: center;
    background: #4ec78e;
    padding: 25px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 20px 20px 15px hsl(152, 52%, 75%);
}

button {
    color: #fff;
    padding: 10px 30px;
    background: #3333cc;
    border: none;
    border-radius: 20px;
    margin: 10px;
}